In [ ]:
import pandas as pd

star1_df = pd.read_csv("/Users/ZINA/Desktop/one-star-michelin-restaurants.csv")
star2_df = pd.read_csv("/Users/ZINA/Desktop/two-stars-michelin-restaurants.csv")
star3_df = pd.read_csv("/Users/ZINA/Desktop/three-stars-michelin-restaurants.csv")

In [ ]:
star1_df.head()

In [ ]:
star1_df.tail()

In [ ]:
star2_df.head()

In [ ]:
star1_df['stars'] = '1 star'
star2_df['stars'] = '2 stars'
star3_df['stars'] = '3 stars'

In [ ]:
#Drop unwanted columns
star1_df.drop(columns=['url', 'zipCode'], inplace=True)
star1_df.head()

In [ ]:
star2_df.drop(columns=['url', 'zipCode'], inplace=True)
star2_df.head()

In [ ]:
star3_df.drop(columns=['url', 'zipCode'], inplace=True)
star3_df.head()

In [ ]:
stars_df = pd.concat([star1_df, star2_df, star3_df], ignore_index=True)

In [ ]:
stars_df.tail()

In [ ]:
stars_df.tail()

In [ ]:
stars_df['year'].nunique()

In [ ]:
stars_df['price'].unique()

In [ ]:
stars_df.head()

In [ ]:
stars_df['price'].unique()

In [ ]:
stars_df.head()

In [ ]:
# Replace $$$$$ with $$$$
stars_df['price'] = stars_df['price'].str.replace('$$$$$', '$$$$', regex=False)

In [ ]:
# Clean weird characters
stars_df['price'] = stars_df['price'].str.strip()
stars_df['price'] = stars_df['price'].str.replace(r'\s+', '', regex=True)

In [ ]:
# Convert $ to ordinal numbers
stars_df['price_ordinal'] = stars_df['price'].str.count(r'\$')

In [ ]:
# Compute median ordinal per star group (1 star, 2 stars, 3 stars)
median_by_star = stars_df.groupby('stars')['price_ordinal'].median().round()

In [ ]:
# Replace missing ordinal values using matching star median
stars_df['price_ordinal'] = stars_df['price_ordinal'].fillna(stars_df['stars'].map(median_by_star)).astype(int)

In [ ]:
# Now convert back to $ string after filling
stars_df['price'] = stars_df['price_ordinal'].apply(lambda x: '$' * x)

In [ ]:
# Define the mapping
price_mean_map = {
    "$": 20,
    "$$": 37.5,
    "$$$": 62.5,
    "$$$$": 100
}

In [ ]:
# Create a new column with the mean price
stars_df['price_mean'] = stars_df['price'].map(price_mean_map)

In [ ]:
stars_df.tail(20)

In [ ]:
stars_df.isnull().sum()

In [ ]:
pd.set_option('display.max_rows', None)
print(stars_df["price_mean"])