In [ ]:
import pandas as pd
star1_df = pd.read_csv('/Users/chiara/Ironhack/week4/first_project/data/raw/archive/one-star-michelin-restaurants.csv')
star2_df = pd.read_csv('/Users/chiara/Ironhack/week4/first_project/data/raw/archive/two-stars-michelin-restaurants.csv')
star3_df = pd.read_csv('/Users/chiara/Ironhack/week4/first_project/data/raw/archive/three-stars-michelin-restaurants.csv')


print(star1_df.head())
print(star2_df.head())
print(star3_df.head())

In [ ]:
star1_df.shape

In [ ]:
star2_df.shape

In [ ]:
star3_df.shape

In [ ]:
print(star1_df.columns)

In [ ]:
star1_df.head()

In [ ]:
star1_df['stars'] = '1 star'
star2_df['stars'] = '2 stars'
star3_df['stars'] = '3 stars'

print (star1_df['stars'])
print (star2_df['stars'])
print (star3_df['stars'])

In [ ]:
star1_df.head()
star2_df.head()
star3_df.head()

In [ ]:
#Drop unwanted columns
star1_df.drop(columns=['url','zipCode'], inplace=True)
star1_df.head()

In [ ]:
star2_df.drop(columns=['url', 'zipCode'], inplace=True)
star2_df.head()

In [ ]:
star3_df.drop(columns=['url', 'zipCode'], inplace=True)
star3_df.head()

In [ ]:
#compiled df

stars_df = pd.concat([star1_df, star2_df, star3_df], ignore_index=True)

In [ ]:
stars_df.tail()

In [ ]:
stars_df['name'].nunique()

In [ ]:
stars_df.columns

In [ ]:
# Restaurant name standardization - lower case

stars_df['name']= stars_df['name'].str.lower()
print (stars_df['name'])

In [ ]:
#Trim Excessive Whitespaces:

stars_df['name'] = stars_df['name'].astype(str)
stars_df['name']= stars_df['name'].apply(lambda x: ' '.join(x.split()))

print(stars_df.sample(5))

In [ ]:
# year check

stars_df['year'].nunique()

In [ ]:
print(stars_df['year'])

In [ ]:
# city names check
stars_df['city'].nunique()

In [ ]:
stars_df['city'].unique()

In [ ]:
#Remove Leading/Trailing Spaces

stars_df['city'] = stars_df['city'].str.strip()
print(stars_df['city'])

In [ ]:
#convert to lower case

stars_df['city'] = stars_df['city'].str.lower() 
print(stars_df['city'])

In [ ]:
#check for duplicates

duplicates = stars_df[stars_df.duplicated(['city'], keep=False)]
print(duplicates)

In [ ]:
# order A–Z

#stars_df = stars_df.sort_values(by="city")  
#stars_df['city'].unique()

In [ ]:
#remove numbers and zip codes

import re

def clean_city_name(city_name):
    if isinstance(city_name, str):  # Check if the input is a string
        # Use regex to remove " - numbers" at the end of the string
        return re.sub(r'\s-\s\d+$', '', city_name).strip()
    return city_name  # Return as is if it's not a string

In [ ]:
stars_df['city'] = stars_df['city'].apply(clean_city_name)

In [ ]:
#verify results

print(stars_df['city'].unique())  # Display unique city names to verify the cleaning

In [ ]:
#remove special characters 


stars_df['city'] = stars_df['city'].str.replace('/', ' ', regex=False)

In [ ]:
stars_df['city'] = stars_df['city'].str.replace('-', ' ', regex=False)

In [ ]:
stars_df['city'] = stars_df['city'].str.title()

In [ ]:
#the city column are stripped of accents and are presented in ASCII format.

import unidecode
stars_df['city'] = stars_df['city'].astype(str).apply(lambda x: unidecode.unidecode(x))

In [ ]:
#verify the results
print(stars_df['city'].unique())

In [ ]:
#grouping suburbs into major city and add info in a new column 

#create a dictionary 

location_map = {
    # London + neighborhoods
    'north kensington': 'London',
    'kensington': 'London',
    'westminster': 'London',
    'soho': 'London',
    'mayfair': 'London',
    'marylebone': 'London',
    'chelsea': 'London',
    'clapham common': 'London',
    "regent's park": 'London',
    'shoreditch': 'London',
    'spitalfields': 'London',
    'belgravia': 'London',
    'bloomsbury': 'London',
    'finsbury': 'London',
    'fulham': 'London',
    'chiswick': 'London',
    'city centre': 'London',
    'city of london': 'London',
    'hyde park': 'London',
    # San Francisco
    'south san francisco': 'San Francisco',
    # Ireland
    'baile mhic andáin/thomastown': 'Thomastown',
    'gaillimh/galway': 'Galway',
    'cill chainnigh/kilkenny': 'Kilkenny',
    'lios dúin bhearna/lisdoonvarna': 'Lisdoonvarna',
    'athína': 'Athens',
    'ballydehob': 'Ballydehob',
    # Finland
    'helsingfors / helsinki': 'Helsinki',
    # Czech Republic
    'praha': 'Prague',
    # Austria
    'wien': 'Vienna',
    'salzburg': 'Salzburg',
    # Menai Bridge
    'menai bridge/porthaethwy': 'Menai Bridge',
    # USA cities
    'los angeles': 'Los Angeles',
    'san diego': 'San Diego',
    'sacramento': 'Sacramento',
    'new york': 'New York',
    'chicago': 'Chicago',
    'costa mesa': 'Costa Mesa',
    'monterey': 'Monterey',
    'washington, d.c.': 'Washington D.C.',
    'south dalton': 'Dalton',
    # Asia
    'bangkok': 'Bangkok',
    'phuket': 'Phuket',
    'hong kong': 'Hong Kong',
    'taipei': 'Taipei',
    'seoul': 'Seoul',
    'singapore': 'Singapore',
    'macau': 'Macau',
    # Croatia
    'lovran': 'Lovran',
    'rovinj': 'Rovinj',
    'zagreb': 'Zagreb',
    'šibenik': 'Sibenik',
    # Norway / Scandinavia
    'stavanger': 'Stavanger',
    'trondheim': 'Trondheim',
    'oslo': 'Oslo',
    'göteborg': 'Gothenburg',
    'växjö': 'Vaxjo',
    'skåne-tranås': 'Skane-Tranas',
    'vejle': 'Vejle',
    # Denmark
    'fredericia': 'Fredericia',
    'pedersker': 'Pedersker',
    'præstø': 'Praesto',
    # Sweden
    'malmö': 'Malmo',
    'stockholm': 'Stockholm',
    # Portugal / Ireland / UK misc
    'bath': 'Bath',
    'bristol': 'Bristol',
    'cambridge': 'Cambridge',
    'cheltenham': 'Cheltenham',
    'chester': 'Chester',
    'birmingham': 'Birmingham',
    'edinburgh': 'Edinburgh',
    'leeds': 'Leeds',
    'oxford': 'Oxford',
    'stratford-upon-avon': 'Stratford-Upon-Avon',
    'padstow': 'Padstow',
    'torquay': 'Torquay',
    'newcastle upon tyne': 'Newcastle upon Tyne',
    'nottingham': 'Nottingham',
    'bray': 'Bray',
    'bowness-on-windermere': 'Bowness-on-Windermere',
    'cartmel': 'Cartmel',
    'castle combe': 'Castle Combe',
    'chagford': 'Chagford',
    'chew magna': 'Chew Magna',
    'dalry': 'Dalry',
    'dorking': 'Dorking',
    'egham': 'Egham',
    'fence': 'Fence',
    'fordwich': 'Fordwich',
    'grasmere': 'Grasmere',
    'gravetye': 'Gravetye',
    'great milton': 'Great Milton',
    'hallwang': 'Hallwang',
    'hampton in arden': 'Hampton in Arden',
    'harome': 'Harome',
    'henne': 'Henne',
    'horsham': 'Horsham',
    'hunstanton': 'Hunstanton',
    'ilfracombe': 'Ilfracombe',
    'järpen': 'Jarpen',
    'kenilworth': 'Kenilworth',
    'kew': 'Kew',
    'kleinwalsertal': 'Kleinwalsertal',
    'knowstone': 'Knowstone',
    'langho': 'Langho',
    'leith': 'Leith',
    'leynar': 'Leynar',
    'little dunmow': 'Little Dunmow',
    'llanddewi skirrid': 'Llanddewi Skirrid',
    'llandrillo': 'Llandrillo',
    'lovran': 'Lovran',
    'lympstone': 'Lympstone',
    'machynlleth': 'Machynlleth',
    'malmesbury': 'Malmesbury',
    'marlow': 'Marlow',
    'morston': 'Morston',
    'mountsorrel': 'Mountsorrel',
    'murcott': 'Murcott',
    'newbury': 'Newbury',
    'oldstead': 'Oldstead',
    'peat inn': 'Peat Inn',
    'penarth': 'Penarth',
    'port isaac': 'Port Isaac',
    'portscatho': 'Portscatho',
    'ripley': 'Ripley',
    'saint helier/saint-hélier': 'Saint Helier',
    "saint james's": 'Saint James',
    'seasalter': 'Seasalter',
    'shinfield': 'Shinfield',
    'summerhouse': 'Summerhouse',
    'upper hambleton': 'Hambleton',
    'victoria': 'Victoria',
    'wandsworth': 'London',
    'whitebrook': 'Whitebrook',
    'winchester': 'Winchester',
    'winteringham': 'Winteringham'
}

stars_df['major_city'] = stars_df['city'].replace(location_map)

In [ ]:
print(stars_df[['city', 'major_city']].sample(10))

In [ ]:
stars_df.head(200)

In [ ]:
stars_df.tail(200)

In [ ]:
stars_df.shape

In [ ]:
#visuals: 
#which are the cities with more restaurants? 
#which is the city / region with highest 1 star / 2 stars / 3 stars/ 4 stars ?
# which are the cuisine dominating a city /region 
# avg price point in a specific city based on restaurants?
# time series 2018 vs 2019 any trend? any star restautant grew over past year? 
# cheapest vs most expensive cuisine?