In [ ]:
import pandas as pd
star1_df = pd.read_csv(r'C:\Users\quint\Desktop\IronHack\WEEKS\WEEK4\project\one-star-michelin-restaurants.csv')
star2_df = pd.read_csv(r'C:\Users\quint\Desktop\IronHack\WEEKS\WEEK4\project\two-stars-michelin-restaurants.csv')
star3_df = pd.read_csv(r'C:\Users\quint\Desktop\IronHack\WEEKS\WEEK4\project\three-stars-michelin-restaurants.csv')

star3_df.shape

In [ ]:
star1_df.tail()

In [ ]:
star2_df.head()

In [ ]:
star1_df['stars'] = '1 star'
star2_df['stars'] = '2 stars'
star3_df['stars'] = '3 stars'

In [ ]:
stars_df = pd.concat([star1_df, star2_df, star3_df], ignore_index=True)

In [ ]:
stars_df.tail()

In [ ]:
stars_df.tail()

In [ ]:
stars_df['year'].nunique()

In [ ]:
stars_df['price'].unique()

In [ ]:
stars_df.head()

In [ ]:
stars_df['price'].unique()

In [ ]:
stars_df.head()

In [ ]:
# Replace $$$$$ with $$$$
stars_df['price'] = stars_df['price'].str.replace('$$$$$', '$$$$', regex=False)

In [ ]:
stars_df = stars_df.sort_values(by="price")  
stars_df['price'].unique()

In [ ]:
# Clean weird characters
stars_df['price'] = stars_df['price'].str.strip()
stars_df['price'] = stars_df['price'].str.replace(r'\s+', '', regex=True)

In [ ]:
# Convert $ to ordinal numbers
stars_df['price_ordinal'] = stars_df['price'].str.count(r'\$')

In [ ]:
# Compute median ordinal per star group (1 star, 2 stars, 3 stars)
median_by_star = stars_df.groupby('stars')['price_ordinal'].median().round()

In [ ]:
# Replace missing ordinal values using matching star median
stars_df['price_ordinal'] = stars_df['price_ordinal'].fillna(stars_df['stars'].map(median_by_star)).astype(int)

In [ ]:
# Now convert back to $ string after filling
stars_df['price'] = stars_df['price_ordinal'].apply(lambda x: '$' * x)

In [ ]:
# Define the mapping
price_mean_map = {
    "$": 20,
    "$$": 37.5,
    "$$$": 62.5,
    "$$$$": 100
}

In [ ]:
# Create a new column with the mean price
stars_df['price_mean'] = stars_df['price'].map(price_mean_map)

In [ ]:
stars_df.tail(20)

In [ ]:
stars_df.isnull().sum()

In [ ]:
pd.set_option('display.max_rows', None)
print(stars_df["price_mean"])

In [ ]:
#Drop unwanted columns
star1_df.drop(columns=['zipCode'], inplace=True)
star1_df.head()

In [ ]:
star2_df.drop(columns=['zipCode'], inplace=True)
star2_df.head()

In [ ]:
star3_df.drop(columns=['zipCode'], inplace=True)
star3_df.head()

In [ ]:
stars_df = pd.concat([star1_df, star2_df, star3_df], ignore_index=True)

In [ ]:
stars_df.tail()

In [ ]:
stars_df.tail()

In [ ]:
stars_df['year'].nunique()

In [ ]:
stars_df.drop(columns=['latitude', 'longitude'], inplace=True)
stars_df.head()

In [ ]:
stars_df['cuisine'].unique()

In [ ]:
#put in lower for joining for example 'creative' with 'Creative'
stars_df["cuisine"] = stars_df["cuisine"].str.strip().str.lower()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

international_types = ["modern cuisine", "classic cuisine",
                       "street food", "meats and grills", "international", "innovative"]

stars_df["cuisine_original"] = stars_df["cuisine"]

stars_df["cuisine"] = stars_df["cuisine"].replace(
    international_types, "international cuisine")

international_sub = stars_df[
    stars_df["cuisine_original"].isin(international_types)]

ax = international_sub["cuisine_original"].value_counts().plot(kind="bar")

plt.title("Distribution of subtypes within international cuisine")
plt.ylabel("Number of restaurants")
plt.xticks(rotation=45, ha="right")

note = ("Modern cuisine combines global flavours with local and seasonal ingredients, ""while innovative refers to more experimental concepts such as molecular ""gastronomy or 3D‑printed food.")

plt.subplots_adjust(bottom=0.3)

plt.figtext(
    0.5,
    0.02,
    note,
    ha="center",
    va="bottom",
    wrap=True,
    fontsize=9
)

plt.show()

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
#joining all the food subcategories into a main attribute, in this case "Chinese food" 
chinese_type = ["chinese", 
    "cantonese",
    "cantonese roast meats",
    "dim sum",
    "shanghainese",
    "sichuan",
    "hunanese and sichuan",
    "sichuan-huai yang",
    "fujian",
    "taizhou",
    "hang zhou",
    "noodles and congee"]

stars_df["cuisine"] = stars_df["cuisine"].replace(chinese_type, "chinese")

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
#joining all the food subcategories into a main attribute
korean_types = ['korean',
    'korean contemporary',
    'temple cuisine']

stars_df['cuisine'] = stars_df['cuisine'].replace(korean_types, 'korean')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
thai_types = ['thai',
    'thai contemporary',
    'southern thai']

stars_df['cuisine'] = stars_df['cuisine'].replace(thai_types, 'thai')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
american_types = ['american',
    'californian',
    'barbecue',
    'steakhouse']

stars_df['cuisine'] = stars_df['cuisine'].replace(american_types, 'american')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
french_types = ['french',
    'classic french',
    'french contemporary',
    'modern french',
    'creative french']


stars_df['cuisine'] = stars_df['cuisine'].replace(french_types, 'french')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
japanese_types = ['japanese',
    'sushi',
    'teppanyaki',
    'japanese contemporary']

stars_df['cuisine'] = stars_df['cuisine'].replace(japanese_types, 'japanese')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
other_asian_types = ['asian',
    'asian influences',
    'asian contemporary',
    'fusion','taiwanese','peranakan','thai']

stars_df['cuisine'] = stars_df['cuisine'].replace(other_asian_types, 'other asian')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
british_types = ['modern british',
    'traditional british',
    'creative british']

stars_df['cuisine'] = stars_df['cuisine'].replace(british_types, 'british')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
modern_types = ['modern cuisine',
    'modern','modern food']
stars_df['cuisine'] = stars_df['cuisine'].replace(modern_types, 'modern cuisine')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
stars_df['cuisine'].unique() #confirm if that values joined

In [ ]:
market_types = ['classic cuisine','market cuisine', 'regional cuisine']
stars_df['cuisine'] = stars_df['cuisine'].replace(market_types, 'classic cuisine')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
mediterranean_types = ['mediterranean', 'mediterranean cuisine']
stars_df['cuisine'] = stars_df['cuisine'].replace(mediterranean_types, 'mediterranean food')

In [ ]:
stars_df['cuisine'].unique() #confirm if that values joined

In [ ]:
other_european_types = ['european', 'european contemporary','mediterranean food']
stars_df['cuisine'] = stars_df['cuisine'].replace(other_european_types, 'other european')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
italian_types = ['italian', 'italian contemporary']
stars_df['cuisine'] = stars_df['cuisine'].replace(italian_types, 'italian')

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
stars_df['cuisine'].nunique() #confirm if that values joined

In [ ]:
stars_df['cuisine'].unique()

In [ ]:
international_types = ['modern cuisine','classic cuisine', 'street food','meats and grills','international','innovative']
stars_df['cuisine'] = stars_df['cuisine'].replace(international_types, 'international cuisine')

In [ ]:
scandinavian_types = ['danish','finnish', 'scandinavian']
stars_df['cuisine'] = stars_df['cuisine'].replace(international_types, 'scandinavian')

In [ ]:
stars_df['cuisine'].unique()

In [ ]:
stars_df['cuisine'].nunique()

In [ ]:
stars_df = stars_df.sort_values(by="price")  
stars_df['price'].unique()

In [ ]:
stars_df['name'].nunique()

In [ ]:
stars_df.columns

In [ ]:
# Restaurant name standardization - lower case

stars_df['name']= stars_df['name'].str.lower()
print (stars_df['name'])

In [ ]:
#Trim Excessive Whitespaces:

stars_df['name'] = stars_df['name'].astype(str)
stars_df['name']= stars_df['name'].apply(lambda x: ' '.join(x.split()))

print(stars_df.sample(5))

In [ ]:
# year check

stars_df['year'].nunique()

In [ ]:
print(stars_df['year'])

In [ ]:
# city names check
stars_df['city'].nunique()

In [ ]:
stars_df['city'].unique()

In [ ]:
#Remove Leading/Trailing Spaces

stars_df['city'] = stars_df['city'].str.strip()
print(stars_df['city'])

In [ ]:
#convert to lower case

stars_df['city'] = stars_df['city'].str.lower() 
print(stars_df['city'])

In [ ]:
#check for duplicates

duplicates = stars_df[stars_df.duplicated(['city'], keep=False)]
print(duplicates)

In [ ]:
# order A–Z

#stars_df = stars_df.sort_values(by="city")  
#stars_df['city'].unique()

In [ ]:
#remove numbers and zip codes

import re

def clean_city_name(city_name):
    if isinstance(city_name, str):  # Check if the input is a string
        # Use regex to remove " - numbers" at the end of the string
        return re.sub(r'\s-\s\d+$', '', city_name).strip()
    return city_name  # Return as is if it's not a string

In [ ]:
stars_df['city'] = stars_df['city'].apply(clean_city_name)

In [ ]:
#verify results

print(stars_df['city'].unique())  # Display unique city names to verify the cleaning

In [ ]:
#remove special characters 


stars_df['city'] = stars_df['city'].str.replace('/', ' ', regex=False)

In [ ]:
stars_df['city'] = stars_df['city'].str.replace('-', ' ', regex=False)

In [ ]:
stars_df['city'] = stars_df['city'].str.title()

In [ ]:
#the city column are stripped of accents and are presented in ASCII format.

import unidecode
stars_df['city'] = stars_df['city'].astype(str).apply(lambda x: unidecode.unidecode(x))

In [ ]:
#verify the results
print(stars_df['city'].unique())

In [ ]:
#grouping suburbs into major city and add info in a new column 

#create a dictionary 

location_map = {
    # London + neighborhoods
    'north kensington': 'London',
    'kensington': 'London',
    'westminster': 'London',
    'soho': 'London',
    'mayfair': 'London',
    'marylebone': 'London',
    'chelsea': 'London',
    'clapham common': 'London',
    "regent's park": 'London',
    'shoreditch': 'London',
    'spitalfields': 'London',
    'belgravia': 'London',
    'bloomsbury': 'London',
    'finsbury': 'London',
    'fulham': 'London',
    'chiswick': 'London',
    'city centre': 'London',
    'city of london': 'London',
    'hyde park': 'London',
    # San Francisco
    'south san francisco': 'San Francisco',
    # Ireland
    'baile mhic andáin/thomastown': 'Thomastown',
    'gaillimh/galway': 'Galway',
    'cill chainnigh/kilkenny': 'Kilkenny',
    'lios dúin bhearna/lisdoonvarna': 'Lisdoonvarna',
    'athína': 'Athens',
    'ballydehob': 'Ballydehob',
    # Finland
    'helsingfors / helsinki': 'Helsinki',
    # Czech Republic
    'praha': 'Prague',
    # Austria
    'wien': 'Vienna',
    'salzburg': 'Salzburg',
    # Menai Bridge
    'menai bridge/porthaethwy': 'Menai Bridge',
    # USA cities
    'los angeles': 'Los Angeles',
    'san diego': 'San Diego',
    'sacramento': 'Sacramento',
    'new york': 'New York',
    'chicago': 'Chicago',
    'costa mesa': 'Costa Mesa',
    'monterey': 'Monterey',
    'washington, d.c.': 'Washington D.C.',
    'south dalton': 'Dalton',
    # Asia
    'bangkok': 'Bangkok',
    'phuket': 'Phuket',
    'hong kong': 'Hong Kong',
    'taipei': 'Taipei',
    'seoul': 'Seoul',
    'singapore': 'Singapore',
    'macau': 'Macau',
    # Croatia
    'lovran': 'Lovran',
    'rovinj': 'Rovinj',
    'zagreb': 'Zagreb',
    'šibenik': 'Sibenik',
    # Norway / Scandinavia
    'stavanger': 'Stavanger',
    'trondheim': 'Trondheim',
    'oslo': 'Oslo',
    'göteborg': 'Gothenburg',
    'växjö': 'Vaxjo',
    'skåne-tranås': 'Skane-Tranas',
    'vejle': 'Vejle',
    # Denmark
    'fredericia': 'Fredericia',
    'pedersker': 'Pedersker',
    'præstø': 'Praesto',
    # Sweden
    'malmö': 'Malmo',
    'stockholm': 'Stockholm',
    # Portugal / Ireland / UK misc
    'bath': 'Bath',
    'bristol': 'Bristol',
    'cambridge': 'Cambridge',
    'cheltenham': 'Cheltenham',
    'chester': 'Chester',
    'birmingham': 'Birmingham',
    'edinburgh': 'Edinburgh',
    'leeds': 'Leeds',
    'oxford': 'Oxford',
    'stratford-upon-avon': 'Stratford-Upon-Avon',
    'padstow': 'Padstow',
    'torquay': 'Torquay',
    'newcastle upon tyne': 'Newcastle upon Tyne',
    'nottingham': 'Nottingham',
    'bray': 'Bray',
    'bowness-on-windermere': 'Bowness-on-Windermere',
    'cartmel': 'Cartmel',
    'castle combe': 'Castle Combe',
    'chagford': 'Chagford',
    'chew magna': 'Chew Magna',
    'dalry': 'Dalry',
    'dorking': 'Dorking',
    'egham': 'Egham',
    'fence': 'Fence',
    'fordwich': 'Fordwich',
    'grasmere': 'Grasmere',
    'gravetye': 'Gravetye',
    'great milton': 'Great Milton',
    'hallwang': 'Hallwang',
    'hampton in arden': 'Hampton in Arden',
    'harome': 'Harome',
    'henne': 'Henne',
    'horsham': 'Horsham',
    'hunstanton': 'Hunstanton',
    'ilfracombe': 'Ilfracombe',
    'järpen': 'Jarpen',
    'kenilworth': 'Kenilworth',
    'kew': 'Kew',
    'kleinwalsertal': 'Kleinwalsertal',
    'knowstone': 'Knowstone',
    'langho': 'Langho',
    'leith': 'Leith',
    'leynar': 'Leynar',
    'little dunmow': 'Little Dunmow',
    'llanddewi skirrid': 'Llanddewi Skirrid',
    'llandrillo': 'Llandrillo',
    'lovran': 'Lovran',
    'lympstone': 'Lympstone',
    'machynlleth': 'Machynlleth',
    'malmesbury': 'Malmesbury',
    'marlow': 'Marlow',
    'morston': 'Morston',
    'mountsorrel': 'Mountsorrel',
    'murcott': 'Murcott',
    'newbury': 'Newbury',
    'oldstead': 'Oldstead',
    'peat inn': 'Peat Inn',
    'penarth': 'Penarth',
    'port isaac': 'Port Isaac',
    'portscatho': 'Portscatho',
    'ripley': 'Ripley',
    'saint helier/saint-hélier': 'Saint Helier',
    "saint james's": 'Saint James',
    'seasalter': 'Seasalter',
    'shinfield': 'Shinfield',
    'summerhouse': 'Summerhouse',
    'upper hambleton': 'Hambleton',
    'victoria': 'Victoria',
    'wandsworth': 'London',
    'whitebrook': 'Whitebrook',
    'winchester': 'Winchester',
    'winteringham': 'Winteringham'
}

stars_df['major_city'] = stars_df['city'].replace(location_map)

In [ ]:
print(stars_df[['city', 'major_city']].sample(10))

In [ ]:
stars_df.head(200)

In [ ]:
stars_df.tail(200)

In [ ]:
stars_df.shape

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

In [ ]:
stars_df["cuisine"].value_counts().head(10).plot(kind="bar")
plt.title("Top 10 types of cuisine")
plt.xlabel("Cuisine")
plt.ylabel("Nº of restaurants")
plt.xticks(rotation=45, ha="right")
plt.tight_layout()

In [ ]:
top_cuisines = (
    stars_df["cuisine"].value_counts()
    .head(10)
    .index
)

plt.figure(figsize=(8,4))
sns.countplot(
    data=stars_df[stars_df["cuisine"].isin(top_cuisines)],
    y="cuisine",
    order=top_cuisines
)
plt.title("Top 10 types of cuisine")
plt.xlabel("Nº of restaurants")
plt.ylabel("Cuisine")
plt.tight_layout()

In [ ]:
stars_df["stars_n"] = stars_df["stars"].str[0].astype(int)

stars_df.groupby("region")["stars_n"].mean().sort_values().plot(kind="bar")
plt.title("Mean of Stars per region")
plt.xlabel("Region")
plt.ylabel("Mean of stars")
plt.xticks(rotation=45, ha="right")
plt.tight_layout()

In [ ]:
#visuals: 
#which are the cities with more restaurants? 
#which is the city / region with highest 1 star / 2 stars / 3 stars/ 4 stars ?
# which are the cuisine dominating a city /region 
# avg price point in a specific city based on restaurants?
# time series 2018 vs 2019 any trend? any star restautant grew over past year? 
# cheapest vs most expensive cuisine?

In [ ]:
stars_df['price'] = stars_df['price'].str.replace('$$$$$', '$$$$', regex=False)
stars_df = stars_df.sort_values(by="price")  
stars_df['price'].unique()